@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  /* ITC Caslon 224: Bold */
  @font-face {
    font-family: "Caslon224Std";
    src: url('@fonts/caslon224std-bold-webfont.woff2') format('woff2'), url('@fonts/caslon224std-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  /* ITC Caslon 224: Bold Italic */
  @font-face {
    font-family: "Caslon224Std";
    src: url('@fonts/caslon224std-bolditalic-webfont.woff2') format('woff2'), url('@fonts/caslon224std-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  /* Proxima Nova: Regular */
  @font-face {
    font-family: 'Proxima Nova';
    src: url('@fonts/proxima_nova_regular-webfont.woff2') format('woff2'), url('@fonts/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Proxima Nova: Bold */
  @font-face {
    font-family: 'Proxima Nova';
    src: url('@fonts/proxima_nova_bold-webfont.woff2') format('woff2'), url('@fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* Proxima Nova: Italic */
  @font-face {
    font-family: 'Proxima Nova';
    src: url('@fonts/proxima_nova_regular_italic-webfont.woff2') format('woff2'),
        url('@fonts/proxima_nova_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  /* Proxima Nova: Bold Italic */
  @font-face {
    font-family: 'Proxima Nova';
    src: url('@fonts/proxima_nova_bold_italic-webfont.woff2') format('woff2'),
        url('@fonts/proxima_nova_bold_italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  html {
    @apply text-base scroll-smooth;
  }

  body {
    @apply bg-orange-200 text-green-400 font-sans overflow-y-scroll;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
    @apply font-bold;
  }

  h1 {
    @apply text-xl lg:text-2xl;
  }

  h2 {
    @apply text-lg lg:text-xl;
  }

  h3 {
    @apply text-md lg:text-lg;
  }
}

@layer components {
  /* Typography */
  .lead {
    @apply md:text-lg;
  }
  /* Buttons */
  .btn  {
    @apply text-lg inline-block px-6 py-4 rounded-md cursor-pointer no-underline decoration-auto text-center transition-colors whitespace-nowrap;
  }
  .btn-sm {
    @apply text-base p-4 py-3;
  }
  .btn-xs {
    @apply text-sm p-4 py-3;
  }
  .btn-primary {
    @apply bg-green-200 hover:bg-green-300 text-white;
  }
  .btn-secondary {
    @apply bg-orange-100 hover:bg-white text-green-400;
  }
  .btn-tertiary {
    @apply bg-orange-700 hover:bg-orange-800 text-white;
  }
  /* Navigation */
  .menu .menu-item a {
    @apply text-base text-green-400 hover:text-green-500 lg:ml-4;
  }
  .menu .menu-item.active a {
    @apply text-green-500 font-bold;
  }
  .mobile-menu .menu-item a {
    @apply hover:bg-orange-200 block px-3 py-2 rounded-md;
  }
  .mobile-menu .menu-item.active a {
    @apply bg-orange-200;
  }
  .mobile-menu .menu-item:not(:first-child) {
    @apply mt-1;
  }
  /* Hero */
  .hero .daffodil-beige {
    @apply absolute w-10 right-1/4 bottom-0 md:w-16 md:right-2/3 md:bottom-12 lg:right-2/3 lg:bottom-1/4 xl:w-auto xl:bottom-24 2xl:bottom-80;
  }
  .hero .arrow-beige {
    @apply text-center lg:absolute lg:bottom-0 lg:w-full;
  }
  .hero .arrow-beige a {
    @apply inline-block p-8;
  }
  .hero .arrow-beige img {
    @apply w-6 xl:w-auto;
  }
  /* Footer */
  .footer a {
    @apply text-orange-200 hover:text-white;
  }
  /* Section */
  .section {
    @apply my-16 lg:my-32;
  }
  .section-text-and-image p,
  .team-member p,
  .paragraph-list p {
    @apply mb-4 xl:mb-8;
  }
  .section a:not(.btn) {
    @apply underline underline-offset-4 decoration-2 decoration-orange-400 text-orange-500 hover:text-orange-600 hover:decoration-orange-500;
  }
  .section-text-and-image .daffodil-beige {
    @apply absolute hidden right-1/4 -bottom-16 w-10 md:block md:w-16 lg:-bottom-24 xl:w-auto xl:-bottom-32 2xl:-bottom-40;
  }
  /* Images */
  .img-style-border-bottom-right::before {
    @apply absolute top-8 left-8 -z-10 w-full h-full rounded-3xl border-orange-400;
    border-width: 0.1875rem;
    content: '';
  }
  .img-style-border-top-right::before {
    @apply absolute bottom-8 left-8 -z-10 w-full h-full rounded-3xl border-orange-400;
    border-width: 0.1875rem;
    content: '';
  }
  /* Specialty Teaser Grid */
  .specialty-grid a {
    @apply flex w-full h-full items-center justify-center rounded-xl font-serif transition-transform hover:scale-95 whitespace-normal;
  }
  .specialty-grid-under div:nth-child(odd) {
    @apply border-r-2 border-orange-400;
  }
  .specialty-grid-under div:nth-child(1),
  .specialty-grid-under div:nth-child(2),
  .specialty-grid-under div:nth-child(3),
  .specialty-grid-under div:nth-child(4),
  .specialty-grid-under div:nth-child(5),
  .specialty-grid-under div:nth-child(6) {
    @apply border-b-2 border-orange-400;
  }
  /* Sections */
  .section.cta .daffodil-beige-left {
    @apply absolute hidden w-10 md:block md:w-16 md:-left-28 md:-top-4 lg:-left-36 xl:w-auto xl:-left-60 xl:-top-8;
  }
  .section.cta .daffodil-beige-right {
    @apply absolute hidden w-10 md:block md:w-16 md:-right-28 md:-bottom-4 lg:-right-36 xl:w-auto xl:-right-60 xl:-bottom-8;
  }
  /* .section.cta-full::before {
    @apply hidden lg:block;
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: -26px;
    height: 52px;
    background-image: url('@images/diamond-beige.svg');
    background-repeat: repeat-x;
    background-position: 0 0;
  } */
  /* Paragraph List */
  .paragraph-list > h2.has-accent {
    background-image: url('@images/squiggle-beige.svg');
  }
  /* ACF Google Maps */
  #acf-google-map img {
    max-width: none !important;
    box-sizing: initial !important;
  }
  /* Contact form */
  .contact-form p:not(:last-of-type) {
    @apply mb-4 md:mb-8;
  }
  .contact-form label {
    @apply font-bold cursor-pointer;
  }
  .contact-form input:not([type=submit]),
  .contact-form textarea {
    @apply block text-base w-full font-normal rounded-md bg-orange-100 border-transparent px-6 py-4 focus:border-orange-200 focus:bg-white focus:ring-0 xl:text-lg;
  }
  .contact-form .wpcf7-spinner {
    @apply bg-orange-400;
  }
  .contact-form form.submitting .wpcf7-spinner {
    @apply block mx-auto my-4;
  }
  .contact-form .wpcf7-spinner::before {
    @apply: bg-orange-100;
  }
  .contact-form .wpcf7 form .wpcf7-response-output {
    @apply m-0 p-4 text-center rounded-md border-0 bg-orange-300 text-orange-600 text-base;
  }
  .contact-form .wpcf7 form.invalid .wpcf7-response-output {
    @apply bg-orange-300 text-orange-600;
  }
}
